body {
  background: transparent;
  font-family: sans-serif;
}

#app_settings{
  padding-top:20px;
}

div#shareaholic-form-container fieldset {
	border: 1px solid #d8d8d8;
	margin: 5px;
	padding: 10px;
	color: #666666;
	line-height: 3em;
  font-size: 12px;
  float:left;
}

div#shareaholic-form-container .app {
  width:100%;
}

div#shareaholic-form-container .app h2 {
  font-size: 20px;
  color: #464646;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
 }

div#shareaholic-form-container .wrap h2 {
  padding: 9px 15px 4px 0;
  line-height: 29px;
  font-weight: normal;
  margin: 0;
  text-shadow: #fff 0 1px 0;
}
 
div#shareaholic-form-container legend {
	border: none;
	width: auto;
	font-weight: bold;
	padding: 0px 10px;
	color: #007bb6;
  margin-bottom: 0;
  font-size: 14px;
}

.check {
	position: relative;
	top:-4px;
}

.helper {
	display: block;
	margin-left: 20px;
	font-size: 12px;
	line-height: 14pt;
	text-indent: -17px;
}

.label {
	margin-right:20px;
}

h3 {
  clear:both;
}

.clear {
  clear:both
}

#iframe_container, iframe {
  width:100%;
  height: 550px;
}

.bg-loading-img {
  background-image:url(../img/ajax_loader_green_128.gif);
  background-repeat:no-repeat;
  background-position: center center;
}

#shortcode_container, #shortcode {
  cursor: inherit;
  width: 100%;
  text-align: center;
  background: white;
  height: 30px;
}

#shortcode_container {
  border-top: 3px solid #ccc;
}

#shortcode {
  font-family: monospace;
}

.reveal-modal {
  width: 720px;
  height: 550px;
  margin-left: -335px;
  position: fixed;
  /* display: none; */
}

.reveal-modal.has-shortcode iframe,
.reveal-modal.has-shortcode #iframe_container {
  height: 550px;
}

.fieldset-footer {
  clear: both;
  padding-top: 10px;
  overflow: hidden;
}

.fieldset-footer button{
  float: left;
}

#editing_modal {
  padding: 0;
}

#editing_modal #iframe_container iframe {
  height: 550px;
}

.wp-submenu-wrap ul {
  margin: 0;
}

/* OOCSS Styles */

.line,.lastUnit{overflow:hidden; *overflow:visible;*zoom:1;}
.unit{float:left;}
.unitRight{float:right;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.lastUnit{float:none;width:auto;_position:relative;_left:-3px;_margin-right:-3px;}

/**
 * Spacing classes
 * Should be used to modify the default spacing between objects (not between nodes of the same object)
 * Please use judiciously. You want to be using defaults most of the time, these are exceptions!
 * <type><location><size>
 */
 /* ====== Default spacing ====== */
h1, h2, h3, h4, h5, h6, ul, ol,dl, p,blockquote, .media {margin:10px;}
h1, h2, h3, h4, h5, h6,img{padding-bottom:0px;}
pre{margin: 10px;}
table h1,table h2,table h3, table h4, table h5, table h6, table p, table ul, table ol, table dl{padding:0;}

/* spacing helpers
p,m = padding,margin
a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
s,m,l,n = small(5px),medium(10px),large(20px),none(0px)
*/

.ptn,.pvn,.pan{padding-top:0px !important}
.pts,.pvs,.pas{padding-top:5px !important}
.ptm,.pvm,.pam{padding-top:10px !important}
.ptl,.pvl,.pal{padding-top:20px !important}
.prn,.phn,.pan{padding-right:0px !important}
.prs,.phs,.pas{padding-right:5px !important}
.prm,.phm,.pam{padding-right:10px !important}
.prl,.phl,.pal{padding-right:20px !important}
.pbn,.pvn,.pan{padding-bottom:0px !important}
.pbs,.pvs,.pas{padding-bottom:5px !important}
.pbm,.pvm,.pam{padding-bottom:10px !important}
.pbl,.pvl,.pal{padding-bottom:20px !important}
.pln,.phn,.pan{padding-left:0px !important}
.pls,.phs,.pas{padding-left:5px !important}
.plm,.phm,.pam{padding-left:10px !important}
.pll,.phl,.pal{padding-left:20px !important}
.mtn,.mvn,.man{margin-top:0px !important}
.mts,.mvs,.mas{margin-top:5px !important}
.mtm,.mvm,.mam{margin-top:10px !important}
.mtl,.mvl,.mal{margin-top:20px !important}
.mrn,.mhn,.man{margin-right:0px !important}
.mrs,.mhs,.mas{margin-right:5px !important}
.mrm,.mhm,.mam{margin-right:10px !important}
.mrl,.mhl,.mal{margin-right:20px !important}
.mbn,.mvn,.man{margin-bottom:0px !important}
.mbs,.mvs,.mas{margin-bottom:5px !important}
.mbm,.mvm,.mam{margin-bottom:10px !important}
.mbl,.mvl,.mal{margin-bottom:20px !important}
.mln,.mhn,.man{margin-left:0px !important}
.mls,.mhs,.mas{margin-left:5px !important}
.mlm,.mhm,.mam{margin-left:10px !important}
.mll,.mhl,.mal{margin-left:20px !important}
.mra,.mha{margin-right:auto !important}
.mla,.mha{margin-left:auto !important}

/* body { */
/* background: rgba(0,0,0, 0.3); */
/*     font-family: 'Open Sans', sans-serif; */
/*     margin: 0; */
/*     padding: 0; */
/*     height: 100%; */
/*     min-height: 100%; */
/* } */

.blocking-modal{
  font-family: 'Open Sans', sans-serif;
  top:150px;
  background: white;
  width: 680px;
  overflow: hidden;
  text-align: center;
  color: #414042;
  font-size: 14px;
  line-height: 16pt;
  box-shadow: 0px 0px 52px rgba(0,0,0,0.32);
  padding: 0;
  height: 500px;
}

.api-key-modal{
  height: 400px;
}

.blocking-modal .content{

}

div#shareaholic-form-container h4 {
    background: #424142;
    color: #e6e6e6;
    font-size: 30px;
    line-height: 60px;
    height: auto;
    font-weight: 300;
    margin: 0;
}

.blocking-modal a {
    color: #2ba9e1;
    font-weight: bold;
    text-decoration: none;
}

.blocking-modal a:hover {
  border-bottom: 1px dashed;
  color: #0988be;
}


.blocking-modal h2 {
    font-size: 28px;
   font-weight: normal;
}

.blocking-modal p {
  margin: 10px;
  font-size: 14px;
  line-height: 21px;
}

.blocking-modal img {
    width: 100px;
    height: 100px;
}

.blocking-modal .btn_main {
  position: relative;
  cursor: pointer;
  display: inline-block;
  background: #27ae60;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 40px;
  font-size: 18px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -3px #14947b;
  box-shadow: inset 0 -3px #14947b;
}

.blocking-modal .btn_main:active {
  top: 1px;
  color: white;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.blocking-modal .btn_main:hover {
  background: #21A057;
  color: white;
  border: none;
}

.blocking-modal .small {
  font-size: 12px;
  color: #888888;
}

input[type='text'] {
  width: 272px;
}

.settings_updated {
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
  font-size: 14px;
  background-color: #45a147 !important;
  border-color: #316632 !important;
}

.signuppromo{
  border: 1px solid #d8d8d8;
	border-radius: 6px;
	padding: 20px 20px;
	color: #45A147;
	font-size: 14px;
	float: right;
	margin: 25px 0 0 20px;
	min-width: 250px;
}

.signuppromo_note{
	font: 300 12px/20px "open sans","helvetica neue",helvetica,arial,sans-serif;
	color: #555;
}

.promoh1{
	font: 400 16px/22px "open sans","helvetica neue",helvetica,arial,sans-serif;
	margin: 0;
	padding: 0;
}

.promosub{
	color: black;
	margin: 10px 0 0 0;
	font-weight: bold;
}

div#shareaholic-form-container .signuppromo ul{
margin: 24px 0px;
}

.signuppromo ul li{
  background: url(../img/bolt.png) 0 2px no-repeat;
  background-size: 22px 22px;
  color: #555;
  float: left;
  font: 400 13px/20px "open sans","helvetica neue",helvetica,arial,sans-serif;
  list-style: none;
  padding: 2px 0 2px 32px;
  margin: 0 0 18px 0;
  text-align: left;
}

.signuppromo a,.signuppromo a:active {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
  background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
  background-color:#ffffff;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  width: 50%;
  border:1px solid #dcdcdc;
  text-align: center;
  margin: 0 auto;
  display:block;
  color:#666666;
  font-size:15px;
  font-weight:bold;
  padding:16px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
    
.signuppromo a:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
  background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
  background-color:#f6f6f6;
}

div#shareaholic-form-container input[type="submit"].settings {
  -webkit-appearance: button;
  border: 1px solid #3F81AE;
  border-color: #3F81AE #2E68A1 #1F5496;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 0 #72baeb,0 1px 2px 0 #c3c3c3;
  box-shadow: inset 0 1px 0 0 #72baeb,0 1px 2px 0 #c3c3c3;
  color: #fff;
  display: inline-block;
  font: 600 13px/1 "open sans","helvetica neue",helvetica,arial,sans-serif;
  background-color: #52a8e8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #52a8e8), color-stop(100%, #377ad0));
  background-image: -webkit-linear-gradient(top, #52a8e8, #377ad0);
  background-image: -moz-linear-gradient(top, #52a8e8, #377ad0);
  background-image: -ms-linear-gradient(top, #52a8e8, #377ad0);
  background-image: -o-linear-gradient(top, #52a8e8, #377ad0);
  background-image: linear-gradient(top, #52a8e8, #377ad0);
  line-height: 17px;
  margin: 0;
  padding: 8px 14px;
  text-align: center;
  text-shadow: 0 -1px 1px #3275BB;
  -webkit-background-clip: padding-box;
}

div#shareaholic-form-container input[type="submit"]:hover.settings {
  -webkit-box-shadow: inset 0 1px 0 0 #6aadd9;
  box-shadow: inset 0 1px 0 0 #6aadd9;
  background-color: #4b9ad6;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4b9ad6), color-stop(100%, #326fbf));
  background-image: -webkit-linear-gradient(top, #4b9ad6, #326fbf);
  background-image: -moz-linear-gradient(top, #4b9ad6, #326fbf);
  background-image: -ms-linear-gradient(top, #4b9ad6, #326fbf);
  background-image: -o-linear-gradient(top, #4b9ad6, #326fbf);
  background-image: linear-gradient(top, #4b9ad6, #326fbf);
}

div#shareaholic-form-container input.btn_main {
  margin-bottom: 0;
  margin-right: 0;
  border: 0;
}

div #shareaholic-form-container .app label {
  display: inline;
  font-size: 12px;
}

div #shareaholic-form-container .nav li {
  list-style: none;
}

div #shareaholic-form-container ul.nav  {
  border-bottom: 1px solid #ddd;
  margin: 0;
}

div #shareaholic-form-container fieldset.app legend img  {
  width: 32px;
  height: 32px;
}

#shareaholic-form-container .key-status {
  padding: 0.4em 1em;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
}

#shareaholic-form-container .key-description {
  line-height: 1.6em;
  margin-top:10px;
}

#shareaholic-form-container .key-status.failed {
  background-color: #EB5353;
  border: 1px solid #e62525;
}

#shareaholic-form-container .key-status.passed {
  background-color: #45a147;
  border: 1px solid #1E8520;
}

.help_links{
  border: 1px solid #d8d8d8;
	border-radius: 6px;
	padding: 20px 20px;
	color: #45A147;
	font-size: 14px;
	float: right;
	margin: 25px 0 0 20px;
	width: 250px;
}

.help_links ul{
  margin: 0px 0px 0px 15px;
  list-style-type: square;
}

.help_links ul li{
  color: #555;
  float: left;
  font: 400 12px/18px "open sans","helvetica neue",helvetica,arial,sans-serif;
  margin: 0 0 4px 0;
  text-align: left;
}

i.icon.icon-share_buttons {
  background-position: 0 0px;
  width: 16px;
  height: 16px;
}

i.icon.icon-recommendations {
  background-position: 0 -16px;
  width: 16px;
  height: 16px;
}

i.icon.icon-affiliate {
  background-position: 0 -160px;
  width: 16px;
  height: 16px;
}

i.icon.icon-analytics {
  background-position: 0 -32px;
  width: 16px;
  height: 16px;
}

i.icon.icon-website {
  background-position: 0 -96px;
  width: 16px;
  height: 16px;
}

i.icon {
  vertical-align: middle;
  background-image: url(../img/shareaholic_com_sprite.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 7px;
}

/* Header - Start */

#shr-header-container {
  padding-bottom: 10px !important;
}

#shr-header {
  top: auto !important;
  position: inherit !important;
  box-shadow: 0 0 0px #c3c3c3 !important;
}

#shr-header .shr-header-content {
  max-width: unset !important;
}

#shr-header .shr-toplevel-link {
  border-right: none !important;
  border-left: none !important;
}

.shr-sites-container {
  z-index: 2147483647 !important;
}

/* Header - End */